
.results-list {
    width: 100%;
    background-color: inherit;
    display: flex;
    position: absolute;
    flex-direction: column;
    box-shadow: 0 0 0 #c5c4c4;
    border-radius: 5px;
    margin-top: 2px;
    max-height: 300px;
}

.valu-item {
    
    flex-grow: 1;
}


.dropdown-row {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-inline: 5px ;
}